navbar-brand {
	font-size: 2em;
}

.nav-link {
	font-size: 1.3em;
}

.page-title {
	font-size: 3em;
}

.page-subtitle {
	font-size: 1.3em;
	font-style: italic;
	padding-bottom: 30px;
}


.sub-subtitle {
	font-size: 1.5em;
	font-style: bold;
	text-align: left;
}

.body-text {
	font-size: 1em;
	padding-bottom: 15px;
}

.body-subtext {
	font-size: .85em;
}

.title-row {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.body-block {
	font-size: 1em;
	padding-bottom: 10px;
}

.body-block-set {
	border-bottom: 2px black solid;
	padding-bottom: 15px;
	padding-top: 15px;
}
